<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

        <!--<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Deleniti, distinctio unde!
        </p>

        <button id="btn">click me!</button>-->


            <!--<input id="name" type="text" placeholder="Enter First Name" />
            <input id="Lname" type="text" placeholder="Enter Last Name" />
            <button type="submit" id="btn">Click me</button>-->


        <!--<a id="anchor" hreflang="en" target="_blank" href="#">Hello</a>
        <button id="btn">click me!</button>-->








        <script src="../scripts/index.js"></script>
</body>
</html>